.input_field {
    border: none;
    background: #dde1e7;
    box-shadow: inset 2px 2px 5px #babecc,
        inset -5px -5px 10px #ffffff73;
    border-radius: 3px;
}

.input_field:focus-visible{
    outline: transparent !important;
} 
